
const Div = styled.div`
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  width: 100%;
  flex-direction: column;
  @media (max-width: 991px) {
    max-width: 100%;
  }
`;

const Div2 = styled.div`
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-bottom-width: 2px;
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  @media (max-width: 991px) {
    max-width: 100%;
    padding: 0 20px;
  }
`;

const Div3 = styled.div`
  display: flex;
  width: 100%;
  max-width: 1305px;
  gap: 20px;
  justify-content: space-between;
  @media (max-width: 991px) {
    max-width: 100%;
    flex-wrap: wrap;
  }
`;

const Div4 = styled.div`
  display: flex;
  gap: 20px;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
`;

const Div5 = styled.div`
  justify-content: center;
  color: #000;
  margin: auto 0;
  padding: 5px 0;
  font: 400 22px Cabin, sans-serif;
`;

const Div6 = styled.div`
  display: flex;
  gap: 1px;
  flex-grow: 1;
  flex-basis: auto;
`;

const Div7 = styled.div`
  justify-content: center;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-bottom-width: 2px;
  background-color: #fff;
  display: flex;
  gap: 15px;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.53px;
  padding: 10px 11px;
  @media (max-width: 991px) {
    white-space: initial;
  }
`;

const Div8 = styled.div`
  font-family: Cabin, sans-serif;
`;

const Img = styled.img`
  aspect-ratio: 1.89;
  object-fit: auto;
  object-position: center;
  width: 15px;
  margin: auto 0;
`;

const Counter1 = styled(Counter)`
  justify-content: center;
`;

const Div9 = styled.div`
  display: flex;
  gap: 20px;
  justify-content: space-between;
  @media (max-width: 991px) {
    max-width: 100%;
    flex-wrap: wrap;
  }
`;

const Div10 = styled.div`
  border-radius: 30px;
  background-color: rgba(244, 251, 255, 0.7);
  display: flex;
  gap: 7px;
  font-size: 15px;
  color: #383838;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.53px;
  margin: auto 0;
  padding: 8px 0;
  @media (max-width: 991px) {
    white-space: initial;
  }
`;

const Img2 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
  fill: #000;
`;

const Div11 = styled.div`
  font-family: Cabin, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
`;

const Div12 = styled.div`
  justify-content: center;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-bottom-width: 2px;
  background-color: #fff;
  display: flex;
  gap: 15px;
  padding: 10px 0;
`;

const Img3 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 35px;
`;

const Div13 = styled.div`
  align-self: center;
  margin-top: 22px;
  width: 100%;
  max-width: 1143px;
  padding: 0 20px;
  @media (max-width: 991px) {
    max-width: 100%;
  }
`;

const Div14 = styled.div`
  gap: 20px;
  display: flex;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
`;

const Column = styled.div`
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 29%;
  margin-left: 0px;
  @media (max-width: 991px) {
    width: 100%;
  }
`;

const Div15 = styled.div`
  display: flex;
  margin-top: 31px;
  flex-direction: column;
  color: #000;
  @media (max-width: 991px) {
    margin-top: 40px;
  }
`;

const Div16 = styled.div`
  border-radius: 7px;
  border-color: rgba(163, 163, 163, 0.09);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px 80px 38px 18px;
  @media (max-width: 991px) {
    padding-right: 20px;
  }
`;

const Div17 = styled.div`
  font: 700 20px Cabin, sans-serif;
`;

const Div18 = styled.div`
  margin-top: 21px;
  font: 400 15px Cabin, sans-serif;
`;

const Div19 = styled.div`
  border-radius: 7px;
  border-color: rgba(163, 163, 163, 0.093);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  display: flex;
  margin-top: 47px;
  flex-direction: column;
  padding: 24px 18px 80px;
  @media (max-width: 991px) {
    padding-right: 20px;
    margin-top: 40px;
  }
`;

const Div20 = styled.div`
  font: 700 20px Cabin, sans-serif;
`;

const Div21 = styled.div`
  margin: 35px 0 19px;
  font: 400 15px Cabin, sans-serif;
`;

const Column2 = styled.div`
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 20px;
  @media (max-width: 991px) {
    width: 100%;
  }
`;

const Div22 = styled.div`
  display: flex;
  flex-grow: 1;
  padding-top: 59px;
  flex-direction: column;
  @media (max-width: 991px) {
    max-width: 100%;
    margin-top: 40px;
  }
`;

const Div23 = styled.div`
  justify-content: center;
  border-radius: 6px;
  border-color: rgba(167, 156, 156, 0.25);
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 30px 20px;
  @media (max-width: 991px) {
    max-width: 100%;
    padding: 0 20px;
  }
`;

const Div24 = styled.div`
  align-items: start;
  display: flex;
  gap: 0px;
  padding: 40px 0 20px;
`;

const Div25 = styled.div`
  background-color: #fff;
  color: #000;
  justify-content: center;
  font: 400 15px Cabin, sans-serif;
`;

const Div26 = styled.div`
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0 60px;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
`;

const Img5 = styled.img`
  aspect-ratio: 1.23;
  object-fit: auto;
  object-position: center;
  width: 16px;
  fill: rgba(0, 0, 0, 0.5);
`;

const Div27 = styled.div`
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font: 400 12px Cabin, sans-serif;
`;

const Div28 = styled.div`
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 1px 0;
`;

const Div29 = styled.div`
  color: #000;
  justify-content: center;
  font: 700 18px Cabin, sans-serif;
`;

const Div30 = styled.div`
  display: flex;
  margin-top: 18px;
  gap: 19px;
`;

const Div31 = styled.div`
  align-self: start;
  color: #000;
  justify-content: center;
  flex: 1;
  font: 400 13px Cabin, sans-serif;
`;

const Div32 = styled.div`
  align-items: center;
  border-radius: 2px;
  border-color: rgba(167, 156, 156, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
`;

const Img6 = styled.img`
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 124px;
`;

const Div33 = styled.div`
  justify-content: center;
  align-self: center;
  display: flex;
  width: 117px;
  max-width: 100%;
  flex-direction: column;
  font-size: 14px;
  color: rgba(0, 5, 7, 0.5);
  font-weight: 400;
  text-align: center;
`;

const Div34 = styled.div`
  leading-trim: both;
  text-edge: cap;
  font-family: Cabin, sans-serif;
`;

const Img7 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 15px;
  align-self: center;
  margin-top: 5px;
`;

const Div35 = styled.div`
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
`;

const Div36 = styled.div`
  justify-content: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  flex: 1;
  padding: 3px 0 5px;
`;

const Div37 = styled.div`
  font-family: Cabin, sans-serif;
  color: #16d841;
  justify-content: center;
`;

const Div38 = styled.div`
  font-family: Cabin, sans-serif;
  color: #167bd8;
  justify-content: center;
`;

const Div39 = styled.div`
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  background-color: rgba(65, 176, 232, 0.1);
  align-self: stretch;
  display: flex;
  width: 30px;
  height: 30px;
  margin: auto 0;
  padding: 5px;
`;

const Img8 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
`;

const Div40 = styled.div`
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  background-color: rgba(65, 176, 232, 0.1);
  align-self: stretch;
  display: flex;
  margin: auto 0;
  padding: 5px 6px;
`;

const Img9 = styled.img`
  aspect-ratio: 0.71;
  object-fit: auto;
  object-position: center;
  width: 15px;
`;

const Div41 = styled.div`
  justify-content: center;
  border-radius: 6px;
  border-color: rgba(167, 156, 156, 0.25);
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  padding: 0 30px 20px;
  @media (max-width: 991px) {
    max-width: 100%;
    padding: 0 20px;
  }
`;

const Div42 = styled.div`
  align-items: start;
  display: flex;
  gap: 0px;
  padding: 40px 0 20px;
`;

const Div43 = styled.div`
  background-color: #fff;
  color: #000;
  justify-content: center;
  font: 400 15px Cabin, sans-serif;
`;

const Div44 = styled.div`
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0 60px;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
`;

const Img10 = styled.img`
  aspect-ratio: 1.23;
  object-fit: auto;
  object-position: center;
  width: 16px;
  fill: rgba(0, 0, 0, 0.5);
`;

const Div45 = styled.div`
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font: 400 12px Cabin, sans-serif;
`;

const Div46 = styled.div`
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 1px 0;
`;

const Div47 = styled.div`
  color: #000;
  justify-content: center;
  font: 700 18px Cabin, sans-serif;
`;

const Div48 = styled.div`
  display: flex;
  margin-top: 18px;
  gap: 19px;
`;

const Div49 = styled.div`
  align-self: start;
  color: #000;
  justify-content: center;
  flex: 1;
  font: 400 13px Cabin, sans-serif;
`;

const Div50 = styled.div`
  align-items: center;
  border-radius: 2px;
  border-color: rgba(167, 156, 156, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
`;

const Img11 = styled.img`
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 124px;
`;

const Div51 = styled.div`
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-self: center;
  display: flex;
  width: 117px;
  max-width: 100%;
  flex-direction: column;
  font-size: 14px;
  color: rgba(0, 5, 7, 0.5);
  font-weight: 400;
  text-align: center;
`;

const Div52 = styled.div`
  leading-trim: both;
  text-edge: cap;
  font-family: Cabin, sans-serif;
`;

const Img12 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 15px;
  align-self: center;
  margin-top: 5px;
`;

const Div53 = styled.div`
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0px;
`;

const Div54 = styled.div`
  justify-content: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  flex: 1;
  padding: 3px 0 5px;
`;

const Div55 = styled.div`
  font-family: Cabin, sans-serif;
  color: #16d841;
  justify-content: center;
`;

const Div56 = styled.div`
  font-family: Cabin, sans-serif;
  color: #167bd8;
  justify-content: center;
`;

const Div57 = styled.div`
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  background-color: rgba(65, 176, 232, 0.1);
  align-self: stretch;
  display: flex;
  width: 30px;
  height: 30px;
  margin: auto 0;
  padding: 5px;
`;

const Img13 = styled.img`
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
`;

const Div58 = styled.div`
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  border-color: rgba(167, 156, 156, 0.21);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  background-color: rgba(65, 176, 232, 0.1);
  align-self: stretch;
  display: flex;
  margin: auto 0;
  padding: 5px 6px;
`;

const Img14 = styled.img`
  aspect-ratio: 0.71;
  object-fit: auto;
  object-position: center;
  width: 15px;
`;

const Div59 = styled.div`
  justify-content: center;
  border-radius: 6px;
  border-color: rgba(167, 156, 156, 0.25);
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  padding: 0 30px;
  @media (max-width: 991px) {
    max-width: 100%;
    padding: 0 20px;
  }
`;

const Div60 = styled.div`
  align-items: start;
  display: flex;
  gap: 0px;
  padding: 40px 0 4px;
`;

const Div61 = styled.div`
  background-color: #fff;
  color: #000;
  justify-content: center;
  font: 400 15px Cabin, sans-serif;
`;

const Div62 = styled.div`
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0 60px;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
`;

const Img15 = styled.img`
  aspect-ratio: 1.23;
  object-fit: auto;
  object-position: center;
  width: 16px;
  fill: rgba(0, 0, 0, 0.5);
`;

const Div63 = styled.div`
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font: 400 12px Cabin, sans-serif;
`;

const Column3 = styled.div`
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
  margin-left: 20px;
  @media (max-width: 991px) {
    width: 100%;
  }
`;

const Div64 = styled.div`
  max-width: 300px;
  border-radius: 7px;
  border-color: rgba(163, 163, 163, 0.09);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 150%;
  margin: 31px auto 0;
  padding: 8px 0;
  @media (max-width: 991px) {
    margin-top: 40px;
  }
`;

const Div65 = styled.div`
  font-family: Cabin, sans-serif;
  font-weight: 700;
  justify-content: center;
  padding: 10px 20px;
`;

const Div66 = styled.div`
  display: flex;
  margin-top: 6px;
  gap: 20px;
  white-space: nowrap;
  letter-spacing: 0.07px;
  justify-content: space-between;
  padding: 11px 15px 11px 30px;
  @media (max-width: 991px) {
    white-space: initial;
    padding: 0 20px;
  }
`;

const Div67 = styled.div`
  font-family: Roboto, sans-serif;
`;

const Img16 = styled.img`
  aspect-ratio: 1.85;
  object-fit: auto;
  object-position: center;
  width: 13px;
  fill: #000;
  stroke-width: 1px;
  stroke: #000;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin: auto 0;
`;

const Div68 = styled.div`
  display: flex;
  margin-top: 6px;
  gap: 20px;
  white-space: nowrap;
  letter-spacing: 0.07px;
  justify-content: space-between;
  padding: 11px 15px 11px 30px;
  @media (max-width: 991px) {
    white-space: initial;
    padding: 0 20px;
  }
`;

const Div69 = styled.div`
  font-family: Roboto, sans-serif;
`;

const Img17 = styled.img`
  aspect-ratio: 1.85;
  object-fit: auto;
  object-position: center;
  width: 13px;
  fill: #000;
  stroke-width: 1px;
  stroke: #000;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin: auto 0;
`;

const Div70 = styled.div`
  display: flex;
  margin-top: 6px;
  gap: 20px;
  white-space: nowrap;
  letter-spacing: 0.07px;
  justify-content: space-between;
  padding: 11px 15px 11px 30px;
  @media (max-width: 991px) {
    white-space: initial;
    padding: 0 20px;
  }
`;

const Div71 = styled.div`
  font-family: Roboto, sans-serif;
`;

const Img18 = styled.img`
  aspect-ratio: 1.85;
  object-fit: auto;
  object-position: center;
  width: 13px;
  fill: #000;
  stroke-width: 1px;
  stroke: #000;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin: auto 0;
`;


